{% extends 'base.html.twig' %}
{% block title %}

    Twingo

{% endblock %}

{% block body %}

<h1>Symfony Test </h1>

{% if title %}
    <h4> {{title}} </h4>
{% else %}
    <h4>No title is set.</h4>
{% endif %}


{% for letter in letters %}
    <li>{{letter}}</li>
{% endfor %}


{% endblock %} 



